body{
    background-color: #f0c3bd;
    overflow-x: hidden;
}

.footer{
    display: flex;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    justify-content: center;
    width: 100%;
}
.main{
    display: flex;
    width: 100%;
    padding: 0 7%;
    flex-wrap: wrap;
}
.player1 {
    width: 50%;
}
.player2{
    width: 50%;
    display: none;
}

.textOfSong{
    display: flex;
    align-items: center;
}

.textOfSong p{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
}


@media screen and (max-width: 900px) {
    .player1{
        width: 100%;
    }

    .player2 {
        width: 100%;
    }

    .textOfSong{
        display: block;
        width: 100%;

    }

}

@media screen and (max-width: 550px) {
    .main{
        padding: 0;
    }

    .footer{
        font-size: 16px;
    }
    .textOfSong p{
        font-size: 24px;
    }
}